In [1]:
import pandas as pd

## Read data from fix width formatted file

,88819,1 6 7 4,Unnamed: 2,1,21 2 11111,Unnamed: 5,Unnamed: 6,2,Unnamed: 8,1 1211,Unnamed: 10,4 21,120053020042912111 222222,243433416122222,2.1,2126411125 0000000000000000000000000000000000000011076.61590969332354142714151381136913572912018
0,88819,2 5 6 4,NaN,5,15111,NaN,NaN,2.0,NaN,1 1211,NaN,3 21,220073220063112111 202222,243433416122222,2,2126411125 0000000000000000000000000000000000...
1,83055,1 5 6 4,NaN,1,11 1 11111,NaN,NaN,2.0,NaN,1 12,NaN,4 21,120073020062912111 222222,241411116122222,2,2124981325 0000000000000000000000000000000000...
2,83055,2 5 6 5,NaN,1,11 1 15111,NaN,NaN,2.0,NaN,1 12,NaN,3 21,220113420103312111 222222,241411116122222,2,2124981325 0000000000000000000000000000000000...
3,92062,1 6 7 4,NaN,1,31 3 11111,NaN,NaN,2.0,NaN,1 12,NaN,3 21,120052720042712111 222222,241411116122222,3,2124981125 0000000000000000000000000000000000...
4,92062,2 2 5,NaN,NaN,55,NaN,1.0,2.0,NaN,1 12,NaN,223,20062820052812111 2222,241411116122222,3,2124981125 0000000000000000000000000000000000...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10209,91420,4 6 6 6,NaN,1,32 1 155,NaN,55.0,NaN,NaN,3 1111,NaN,3 21,220114020103951555 225353,647475213103112,4,2212757325 0000000000000000000000000000000000...
10210,89157,1 6 6 3,NaN,5,11111,NaN,NaN,3.0,NaN,1211 12,NaN,2 21,120082720082612111 101212,137371115103242,3,321 907321 10000000000000000000000000000000000...
10211,89157,2 6 6 4,NaN,1,41 4 15111,NaN,NaN,2.0,NaN,1 12,NaN,3 21,220113020112912111 142222,237371115103242,3,321 907321 10000000000000000000000000000000000...
10212,89157,3 5 5 412,13.0,05 1,41 4 121345 155,NaN,1.0,2.0,NaN,1 12,NaN,2 21,320143220133212111113142222,237371115103242,3,321 907321 10000000000000000000000000000000000...
10213,84206,1 3 2,NaN,NaN,1 1,NaN,1.0,1.0,22.0,3 8115511 2 22,NaN,122,20182020182051656 3333,24420205614103242,1,0123622425 0000000000000000000000000000000000...